<footer id="footer" style="margin-top:60px ;">
  <div class="footer-top bg-dark" style="color:white;">
      <div class="container-fluid d-flex " style="">
          <div class="row row1 ml-5" >
              
              <div class="col-lg-3 col-md-3 footer-links mt-2 col-4">
                  <h4>About Us</h4>
                    <p>Lorem ipsum dolor! Laborum consequatur, ducimus animi ea, quibusdam maxime asperiores exercitationem.</p>
              </div>

              <div class="col-lg-3 col-md-3 footer-links mt-2 ml-5 col-4" style="padding-left:250px">
                  <h4 class="navigation text-center">Navigation Links</h4>
                   <div class="row navigationlist">
                       <div class = "col-sm-6">
                        <ul class="list_style list1">
                          <li><a>Home</a></li>
                          <li><a>Feature</a></li>
                          <li><a>Services</a></li>
                          <li><a>Portfolio</a></li>
                        </ul>
                       </div>


                   </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 footer-links d-flex mt-2 ml-5 col-4" style="padding-left:500px">
                <div class ="link3">
                  <h4>News Letter</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ad?</p>
                  <div class="email-form d-flex flex-row">
                  
                </div>
                
              </div>
             
          </div>
      </div>
  </div>
  
  <div class="container-fluid py-4 footer-bottom">
      <div class="copyright text-center">
          &copy; Copyright MUSIFYY</strong>.All Rights Reserved
      </div>
      <div class="credits text-center">
          <strong>Designed By KD</strong>
      </div>
  </div>

  </footer>
